
.gradient {
    height: 160px;
    margin: 40px;
    width: 270px;
}

.gradient1 {
    background: linear-gradient(143deg, #ff6e02, #FFEE00 38%, #ffff00 48%, #ffff00 52%, #FFEE00 62%, #ff6e02);
}


.gradient2 {
    background: radial-gradient(5em, #290a59 -15%, #ff7c00);
}

.scale {
    width: 140px;
    height: 100px;
    margin: 150px;
    background: green;
}

.scale:hover {
    transform: scale(2);
}

.container {
    width: 320px;
    margin: 30px;
    -webkit-perspective: 1200;
    perspective: 1200;
    transform-style: preserve-3d;
}

.flip {
    position: relative;
    width: 320px;
    height: 280px;
    transform-style: preserve-3d;
    transition: 0.7s linear;
}

.front, .back {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;

}
.front {
    z-index: 10;
    transform: rotateY(0deg);
    background-color: darkblue;
}

.back {
    transform: rotateY(-180deg);
    background-color: hotpink;
}

.container:hover .flip {
    transform: rotateY(180deg);
}